In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from read_data import import_py_file

In [2]:
path = '../'
import_py_file(path)

import preprocessed_file as pf

In [3]:
read_data = pf.Data("../data/Top-100 Trending Books.csv",
                    "../data/customer reviews.csv")

In [6]:
top_books,custrew = read_data.preprared_data()

In [7]:
top_books.select_dtypes(include=[object]).columns

Index(['book title', 'author', 'genre', 'url'], dtype='object')

In [8]:
for col in top_books.select_dtypes(include=[object]).columns:
    print("{}".format(col),
          pf.return_lenuniq(data=top_books,col=col)["length of {} array:".format(col)])

book title 99
author 85
genre 79
url 100

In [9]:
top_books.select_dtypes(include=[object]).head(1)

,book title,author,genre,url
Rank,,,,
1,"Iron Flame (The Empyrean, 2)",Rebecca Yarros,Fantasy Romance,amazon.com/Iron-Flame-Empyrean-Rebecca-Yarros/...

In [10]:
for col in top_books.select_dtypes(include=[object]).columns:
    top_books[col] = top_books[col].str.lower()

for col in custrew.select_dtypes(include=[object]).columns:
    custrew[col] = custrew[col].str.lower()

In [11]:
top_books[['first_name', 'last_name']] = top_books['author'].str.split(" ", n=1, expand=True)

first_name_df = top_books[['first_name']]
last_name_df = top_books[['last_name']]

In [12]:
top_books["first_name"].value_counts() \
[top_books["first_name"].value_counts().values > 1]

first_name
sarah      5
adam       4
david      4
alice      4
           3
bill       3
rebecca    2
lucy       2
emily      2
peter      2
ann        2
sandra     2
eric       2
rick       2
keila      2
suzanne    2
robert     2
matthew    2
j.k.       2
Name: count, dtype: int64

In [13]:
top_books["last_name"].value_counts() \
[top_books["last_name"].value_counts().values > 1]

last_name
j. maas       5
wallace       3
yarros        2
rowling       2
shaheen       2
boynton       2
walstead      2
martin jr.    2
score         2
grann         2
collins       2
Name: count, dtype: int64

In [14]:
top_books.groupby("first_name")[["book price","rating"]].sum() \
.sort_values(by="book price",ascending=False)

            book price  rating
first_name
sarah           100.49    19.0
j.k.             71.19     9.8
david            49.90    18.4
alice            48.47    19.0
adam             38.25    18.8
...                ...     ...
taylor            4.76     4.9
duopress          4.73     4.9
sherri            3.78     4.9
leigh             2.79     4.8
school            2.78     4.7

[70 rows x 2 columns]

In [15]:
top_books.groupby("last_name")[["book price","rating"]].sum() \
.sort_values(by="book price",ascending=False)

                 book price  rating
last_name
j. maas              100.49    19.0
rowling               71.19     9.8
shaheen               35.74     9.3
yarros                35.41     8.9
streisand             31.50     4.5
...                     ...     ...
whitford paul          4.19     4.8
duskey rinker          3.78     4.9
scholastic             2.88     4.8
olsen                  2.79     4.8
zone publishing        2.78     4.7

[84 rows x 2 columns]

In [16]:
top_books.groupby(["first_name","last_name"]).count()["url"].head(10)

first_name  last_name
            penguin young readers licenses (    1
            scholastic                          1
            wendy loggia                        1
abraham     verghese                            1
adam        m. grant                            1
            wallace                             3
alice       hemming                             1
            schertle                            1
            walstead                            2
americas    test kitchen kids                   1
Name: url, dtype: int64

In [17]:
top_books.genre.str.split(" ")

Rank
1                                     [fantasy, romance]
2                                               [memoir]
3                                        [autobiography]
4                                               [memoir]
5                                  [childrens,, fiction]
                             ...
96                                          [nonfiction]
97     [, young, adult, novel,, adventure, novel,, su...
98                                          [nonfiction]
99                                          [nonfiction]
100                         [childrens,, picture, books]
Name: genre, Length: 100, dtype: object

In [18]:
for i in range(1,len(top_books)):
    print((len(top_books['genre'].str.split(" ")[i])),end=" ")

2 1 1 1 2 1 2 3 3 2 7 1 2 2 1 10 3 4 3 8 8 8 8 9 11 4 5 1 11 5 2 2 4 3 1 2 2 4 8 2 5 4 2 2 3 9 2 2 5 8 8 7 8 3 8 2 2 3 1 7 4 1 7 12 2 7 8 2 4 7 4 7 8 1 7 1 1 7 1 8 4 8 8 8 2 7 7 1 2 1 4 2 2 3 1 1 8 1 1

In [19]:
arr = list()
for i in range(1,len(top_books)+1):
    arr.append(len(top_books['genre'].str.split(" ")[i]))

In [20]:
top_books["count genre"] = arr

In [125]:
[i for i in top_books.genre.str.split(" ")]

[['fantasy', 'romance'],
 ['memoir'],
 ['autobiography'],
 ['memoir'],
 ['childrens,', 'fiction'],
 ['fantasy'],
 ['nonfiction,', 'politics'],
 ['humor,', 'middle', 'grade'],
 ['nonfiction,', 'true', 'crime'],
 ['historical', 'fiction'],
 ['adventure,',
  'war,',
  'science',
  'fiction,',
  'romance,',
  'action,',
  'thriller'],
 ['memoir'],
 ['self-improvement,', 'nonfiction'],
 ['childrens,', 'storytime,fiction'],
 ['nonfiction'],
 ['spiritual',
  'warfare,',
  'biblical',
  'studies',
  '-',
  'prophecy,',
  'christian',
  'theology',
  '-',
  'eschatology'],
 ['fiction,', 'historical', 'fiction'],
 ['literary,', 'thrillers', '-', 'suspense'],
 ['picture', 'books,', 'biography'],
 ['picture',
  'books,',
  'christmas,',
  'holiday,',
  'humor,',
  'childrens,',
  'fiction,',
  'animals'],
 ['picture',
  'books,',
  'childrens,',
  'holiday,',
  'animals,',
  'humor,',
  'storytime,',
  'fiction'],
 ['nonfiction,',
  'psychology,',
  'self',
  'help,',
  'mental',
  'health,',
  'health,',
  'science'],
 ['fantasy,',
  'romance,',
  'young',
  'adult,',
  'fiction,',
  'new',
  'adult,',
  'fae'],
 ['fiction,',
  'contemporary,',
  'lgbt,',
  'literary',
  'fiction,',
  'queer,',
  'adult,',
  'mental',
  'health'],
 ['fantasy,',
  'dragons,',
  'young',
  'adult,',
  'fiction,',
  'high',
  'fantasy,',
  'magic,',
  'science',
  'fiction,',
  'fantasy'],
 ['childrens,', 'activities,', 'crafts,', 'games'],
 ['picture', 'book,', 'cars', 'and', 'trucks'],
 ['childrens'],
 ['fantasy,',
  'dragons,',
  'young',
  'adult,',
  'fiction,',
  'high',
  'fantasy,',
  'magic,',
  'science',
  'fiction,',
  'fantasy'],
 ['picture', 'book,', 'colors,', 'wild', 'animals'],
 ['childrens,', 'literature'],
 ['picture', 'book'],
 ['spirituality,', 'self-help,', 'personal', 'growth'],
 ['thriller,', 'mystery,', 'suspense'],
 ['nonfiction'],
 ['childrens,', 'literature'],
 ['childrens,', 'literature'],
 ['picture', 'books,', 'childrens,', 'holiday'],
 ['finance,',
  'nonfiction,',
  'psychology,',
  'business,',
  'self',
  'help,',
  'money,',
  'economics'],
 ['historical', 'fiction'],
 ['health,', 'nonfiction,', 'science,', 'self', 'help'],
 ['history,', 'nonfiction,', 'politics,', 'war'],
 ['childrens,', 'literature'],
 ['childrens,', 'literature'],
 ['picture', 'books,', 'childrens'],
 ['self',
  'help,',
  'nonfiction,',
  'mental',
  'health,',
  'psychology,',
  'personal',
  'development,',
  'relationships'],
 ['fantasy,', 'romance'],
 ['childrens,', 'storytime,fiction'],
 ['picture', 'books,', 'childrens,', 'fiction,', 'poetry'],
 ['picture',
  'books,',
  'dinosaurs,',
  'childrens,',
  'fiction,',
  'storytime,',
  'fantasy,',
  'animals'],
 ['nonfiction,',
  'self',
  'help,',
  'psychology,',
  'business,',
  'leadership,',
  'personal',
  'development'],
 ['fiction,',
  'mystery,',
  'thriller,',
  'suspense,',
  'crime,',
  'legal',
  'thriller'],
 ['christmas,',
  'romance,',
  'holiday,',
  'contemporary',
  'romance,',
  'contemporary',
  'fiction,',
  'humor'],
 ['educational', 'material,', 'childrens'],
 ['picture',
  'books,',
  'animals,',
  'childrens,',
  'fiction,',
  'love,',
  'family,',
  'humor'],
 ['fiction,', 'alphabet'],
 ['cookbooks,', 'cooking'],
 ['self', 'help,', 'psychology'],
 ['nonfiction'],
 ['picture',
  'books,',
  'holiday,',
  'childrens,',
  'fiction,',
  'storytime,',
  'humor'],
 ['biography,', 'nonfiction,', 'business,', 'technology'],
 ['cookbook'],
 ['picture',
  'books,',
  'childrens,',
  'holiday,',
  'animals,',
  'kids',
  'fiction'],
 ['literary,',
  'medical,',
  'family',
  'life',
  '-',
  'general,',
  'world',
  'literature',
  '-',
  'india',
  '-',
  'general'],
 ['fiction,', 'mystery'],
 ['dark,',
  'thriller,',
  'fantasy,',
  'adult,',
  'contemporary,',
  'mystery,',
  'horror'],
 ['christmas,',
  'picture',
  'books,',
  'holiday,',
  'childrens,',
  'fantasy,',
  'humor,',
  'fiction'],
 ['educational', 'material'],
 ['childrens,', 'picture', 'books,', 'animals'],
 ['dark,',
  'thriller,',
  'fantasy,',
  'adult,',
  'contemporary,',
  'mystery,',
  'horror'],
 ['thriller,', 'romance,', 'mystery,', 'fiction'],
 ['fantasy,', 'romance,', 'young', 'adult,', 'new', 'adult,', 'fiction'],
 ['nonfiction,',
  'art,',
  'music,',
  'philosophy,',
  'self',
  'help,',
  'writing,',
  'design'],
 ['childrens'],
 ['health,',
  'nonfiction,',
  'nutrition,',
  'fitness,',
  'self',
  'help,',
  'science'],
 ['childrens'],
 ['fiction'],
 ['nonfiction,',
  'history,',
  'politics,',
  'israel,',
  'jewish,',
  'judaism,',
  'religion'],
 ['fiction'],
 ['childrens,',
  'young',
  'adult,',
  'fantasy,',
  'science',
  'fiction',
  '&amp;',
  'horror'],
 ['picture', 'books,', 'childrens,', 'fiction'],
 ['picture',
  'books,',
  'childrens,',
  'animals,',
  'fiction,',
  'family,',
  'storytime,',
  'poetry'],
 ['romance,',
  'contemporary,',
  'contemporary',
  'romance,',
  'fiction,',
  'adult,',
  'chick',
  'lit'],
 ['picture',
  'books,',
  'childrens,',
  'holiday,',
  'storytime,',
  'counting,',
  'animals,',
  'number'],
 ['childrens', 'literature'],
 ['fiction,',
  'romance,',
  'contemporary,',
  'audiobook,',
  'adult,',
  'adult',
  'fiction'],
 ['adventure,',
  'war,',
  'science',
  'fiction,',
  'romance,',
  'action,',
  'thriller'],
 ['fantasy'],
 ['self', 'help'],
 ['fantasy'],
 ['childrens', 'literature,', 'picture', 'book'],
 ['thriller,', 'mystery'],
 ['personal', 'finance'],
 ['fantasy,', 'adventure,', 'mythology'],
 ['childrens'],
 ['nonfiction'],
 ['', 'young', 'adult', 'novel,', 'adventure', 'novel,', 'survival', 'story'],
 ['nonfiction'],
 ['nonfiction'],
 ['childrens,', 'picture', 'books']]

In [81]:
top_books

,book title,book price,rating,author,year of publication,genre,url,first_name,last_name,count genre
Rank,,,,,,,,,,
1,"iron flame (the empyrean, 2)",18.42,4.1,rebecca yarros,2023,fantasy romance,amazon.com/iron-flame-empyrean-rebecca-yarros/...,rebecca,yarros,2
2,the woman in me,20.93,4.5,britney spears,2023,memoir,amazon.com/woman-me-britney-spears/dp/16680090...,britney,spears,1
3,my name is barbra,31.50,4.5,barbra streisand,2023,autobiography,amazon.com/my-name-barbra-streisand/dp/0525429...,barbra,streisand,1
4,"friends, lovers, and the big terrible thing: a...",23.99,4.4,matthew perry,2023,memoir,amazon.com/friends-lovers-big-terrible-thing/d...,matthew,perry,1
5,how to catch a turkey,5.65,4.8,adam wallace,2018,"childrens, fiction",amazon.com/how-catch-turkey-adam-wallace/dp/14...,adam,wallace,2
...,...,...,...,...,...,...,...,...,...,...
96,first little readers parent pack: guided readi...,11.40,4.7,deborah schecter,2010,nonfiction,amazon.com/first-little-readers-parent-pack/dp...,deborah,schecter,1
97,hatchet,5.14,4.7,gary paulsen,1987,"young adult novel, adventure novel, survival ...",amazon.com/hatchet-gary-paulsen/dp/1416936475/...,gary,paulsen,8
98,"the wager: a tale of shipwreck, mutiny and murder",15.30,4.5,david grann,2023,nonfiction,amazon.com/wager-tale-shipwreck-mutiny-murder/...,david,grann,1
99,"i'm dead, now what?: important information abo...",12.99,4.6,peter pauper press,2015,nonfiction,amazon.com/important-information-belongings-bu...,peter,pauper press,1
100,the wonky donkey,5.28,4.8,craig smith,2009,"childrens, picture books",amazon.com/wonky-donkey-craig-smith/dp/0545261...,craig,smith,3

In [115]:
top_books[["link","book","dp","id","ref","slug"]] = [i for i in top_books.url.str.split("/")]

In [118]:
top_books.head()

,book title,book price,rating,author,year of publication,genre,url,first_name,last_name,count genre,link,book,dp,id,ref,slug
Rank,,,,,,,,,,,,,,,,
1,"iron flame (the empyrean, 2)",18.42,4.1,rebecca yarros,2023,fantasy romance,amazon.com/iron-flame-empyrean-rebecca-yarros/...,rebecca,yarros,2,amazon.com,iron-flame-empyrean-rebecca-yarros,dp,1649374178,ref=zg_bs_g_books_sccl_1,143-9831347-1043253?psc=1
2,the woman in me,20.93,4.5,britney spears,2023,memoir,amazon.com/woman-me-britney-spears/dp/16680090...,britney,spears,1,amazon.com,woman-me-britney-spears,dp,1668009048,ref=zg_bs_g_books_sccl_2,143-9831347-1043253?psc=1
3,my name is barbra,31.50,4.5,barbra streisand,2023,autobiography,amazon.com/my-name-barbra-streisand/dp/0525429...,barbra,streisand,1,amazon.com,my-name-barbra-streisand,dp,0525429522,ref=zg_bs_g_books_sccl_3,143-9831347-1043253?psc=1
4,"friends, lovers, and the big terrible thing: a...",23.99,4.4,matthew perry,2023,memoir,amazon.com/friends-lovers-big-terrible-thing/d...,matthew,perry,1,amazon.com,friends-lovers-big-terrible-thing,dp,1250866448,ref=zg_bs_g_books_sccl_4,143-9831347-1043253?psc=1
5,how to catch a turkey,5.65,4.8,adam wallace,2018,"childrens, fiction",amazon.com/how-catch-turkey-adam-wallace/dp/14...,adam,wallace,2,amazon.com,how-catch-turkey-adam-wallace,dp,1492664359,ref=zg_bs_g_books_sccl_5,143-9831347-1043253?psc=1

In [128]:
custrew.is_verified.value_counts()

is_verified
True     917
False      3
Name: count, dtype: int64

In [132]:
custrew.reviewer.value_counts()

reviewer
amazon customer                       40
kindle customer                       13
michelle                               4
ashley                                 3
anne pruitt                            3
                                      ..
fascinated  explorer                   1
collin                                 1
melanie (meltotheany / jtotheimin)     1
lane                                   1
mc                                     1
Name: count, Length: 815, dtype: int64

In [133]:
custrew

,book name,review title,reviewer,reviewer rating,review description,is_verified,date,timestamp,ASIN
0,the woman in me,unbelievably impressive. her torn life on paper.,murderess marbie,4,i'm only a third way in. shipped lightening fa...,True,26-10-2023,"reviewed in the united states october 26, 2023",1668009048
1,the woman in me,what a heartbreaking story,l j,5,"""there have been so many times when i was scar...",True,06-11-2023,"reviewed in the united states november 6, 2023",1668009048
2,the woman in me,britney you are so invincible! you are an insp...,jamie,5,the media could not be loaded. i personally ha...,True,01-11-2023,"reviewed in the united states november 1, 2023",1668009048
3,the woman in me,"fast read, sad story",kmg,5,i have been a fan of britney's music since the...,True,25-10-2023,"reviewed in the united states october 25, 2023",1668009048
4,the woman in me,"buy it, itâ€™s worth the read!",stephanie brown,5,"whether or not youâ€™re a fan, itâ€™s a great read...",True,01-11-2023,"reviewed in the united states november 1, 2023",1668009048
...,...,...,...,...,...,...,...,...,...
915,the wonky donkey,the best child/grandmother book ever written,marilyn kreienkamp,5,this is exactly the kind of book children unde...,True,02-11-2023,"reviewed in the united states november 2, 2023",545261244
916,the wonky donkey,great book,amazon customer,5,we get this book for all our grandchildren the...,True,30-10-2023,"reviewed in the united states october 30, 2023",545261244
917,the wonky donkey,"fun book, makes you laugh",jennifer tinucci,5,i saw a grandma reading this book to her grand...,True,24-10-2023,"reviewed in the united states october 24, 2023",545261244
918,the wonky donkey,cutest beck ever!!,janice easter,5,i have ordered this book over and over to give...,True,19-10-2023,"reviewed in the united states october 19, 2023",545261244
919,the wonky donkey,awesome book,mc,5,this book was hysterical! my daughter loves it...,True,23-10-2023,"reviewed in the united states october 23, 2023",545261244

In [144]:
custrew.groupby(["is_verified","reviewer rating"])["reviewer"].count()

is_verified  reviewer rating
False        4                    2
             5                    1
True         2                    4
             3                    8
             4                  130
             5                  775
Name: reviewer, dtype: int64

In [164]:
for ii in range(len(custrew)):
    print(len([i.split(" ") for i in custrew["review title"]][ii]),end=" ")

7 4 18 4 6 11 4 6 6 6 12 3 6 2 6 3 1 4 4 1 1 3 4 2 5 2 2 5 2 6 2 1 5 14 9 4 12 9 6 13 9 1 3 6 5 5 6 6 2 2 4 11 4 2 3 7 7 23 7 11 8 9 1 9 3 10 5 7 1 1 6 6 5 11 3 9 6 5 2 1 4 4 6 10 6 1 3 4 7 5 10 10 6 4 7 5 8 11 14 11 1 3 3 3 2 2 2 2 1 2 8 6 4 16 2 16 8 1 3 4 2 2 4 4 2 1 3 2 2 4 3 6 3 3 8 8 4 6 8 2 7 6 8 4 5 3 2 8 5 5 7 1 5 4 2 2 5 4 3 1 9 3 6 8 5 4 6 5 2 5 2 2 5 4 3 4 3 2 7 2 3 9 2 7 4 3 2 13 2 5 8 9 10 2 5 5 6 7 9 4 5 4 3 14 7 3 3 1 7 6 4 9 7 2 2 6 3 3 1 3 5 5 2 5 3 1 2 3 1 1 7 3 3 2 4 4 4 5 2 8 7 1 3 1 5 6 3 2 3 3 4 2 1 3 2 1 2 2 2 5 4 19 9 4 6 13 3 2 4 9 8 1 5 3 3 3 3 3 7 2 14 1 1 4 10 1 2 4 8 14 7 2 4 3 1 1 2 2 8 2 2 2 1 5 2 8 1 4 4 2 1 2 2 3 11 2 4 3 5 2 14 4 8 10 2 2 1 3 12 2 4 8 2 5 6 4 5 3 13 8 1 4 1 2 2 2 2 6 1 4 16 9 6 8 12 4 10 9 5 12 9 7 12 5 2 2 6 4 4 3 3 3 3 2 3 1 1 4 2 10 5 3 3 2 5 1 3 2 7 2 6 1 1 5 2 2 2 5 7 9 6 3 2 2 2 6 3 2 7 4 2 3 4 6 1 4 5 2 1 7 2 2 2 4 3 3 4 2 2 4 10 1 1 6 7 5 1 1 6 2 3 6 3 3 3 2 6 5 16 7 4 5 5 1 2 11 4 7 4 3 3 2 5 1 4 1 4 8 13 2 3 4 2 3 1 1 1 14 4 2 4 7 2 2 2 1 2 3 2 2 4 12 3 4 2 2 2 2 1 1 7 12 2 8 2 4 2 1 2 9 2 1 6 2 5 2 2 12 3 2 2 2 1 7 6 2 8 2 2 2 13 2 10 14 5 4 14 7 8 3 15 14 2 3 7 3 2 6 5 4 5 7 2 4 8 3 1 13 6 5 9 3 7 5 4 3 9 4 5 1 10 11 11 1 2 2 2 4 2 3 3 2 4 2 3 3 2 2 2 3 2 2 6 2 2 2 2 3 2 2 2 2 3 3 3 9 5 5 4 2 1 5 4 4 5 2 1 5 2 2 7 8 3 6 8 10 11 6 2 3 10 6 14 7 2 4 5 3 3 5 4 5 12 5 11 16 5 2 9 10 13 6 6 10 11 13 4 14 1 3 2 4 16 3 3 7 4 6 9 5 11 6 11 1 13 5 7 7 7 4 3 3 4 1 3 3 1 2 1 1 8 4 5 2 4 2 7 2 4 6 12 2 9 5 3 2 3 2 2 5 11 3 3 4 2 3 8 2 3 1 14 10 6 9 4 3 2 2 3 1 1 7 6 2 2 4 2 2 6 1 3 3 2 3 1 6 2 3 4 2 18 9 4 4 15 3 1 6 6 9 7 1 2 6 4 3 2 4 7 3 4 2 2 3 4 7 2 2 3 5 6 6 5 11 3 9 6 5 2 1 7 1 13 13 4 17 9 3 4 6 7 6 7 5 3 2 18 4 3 1 1 2 2 9 2 2 5 4 6 4 2 1 3 6 2 4 2 2 1 2 5 4 6 12 3 6 7 1 1 2 11 2 5 3 2 2 9 12 4 6 3 2 1 7 8 3 2 4 4 6 5 10 3 5 2 6 4 2 5 9 9 12 6 2 5 1 6 1 5 2 4 5 6 2 1 2 3 4 2 1 3 6 8 12 11 9 1 4 6 4 2 3 3 2 3 2 3 6 6 4 9 4 6 5 3 6 2 5 3 2

In [165]:
arr = list()
for ii in range(len(custrew)):
    arr.append(len([i.split(" ") for i in custrew["review title"]][ii]))

In [166]:
custrew["title length"] = arr

In [167]:
custrew

,book name,review title,reviewer,reviewer rating,review description,is_verified,date,timestamp,ASIN,title length
0,the woman in me,unbelievably impressive. her torn life on paper.,murderess marbie,4,i'm only a third way in. shipped lightening fa...,True,26-10-2023,"reviewed in the united states october 26, 2023",1668009048,7
1,the woman in me,what a heartbreaking story,l j,5,"""there have been so many times when i was scar...",True,06-11-2023,"reviewed in the united states november 6, 2023",1668009048,4
2,the woman in me,britney you are so invincible! you are an insp...,jamie,5,the media could not be loaded. i personally ha...,True,01-11-2023,"reviewed in the united states november 1, 2023",1668009048,18
3,the woman in me,"fast read, sad story",kmg,5,i have been a fan of britney's music since the...,True,25-10-2023,"reviewed in the united states october 25, 2023",1668009048,4
4,the woman in me,"buy it, itâ€™s worth the read!",stephanie brown,5,"whether or not youâ€™re a fan, itâ€™s a great read...",True,01-11-2023,"reviewed in the united states november 1, 2023",1668009048,6
...,...,...,...,...,...,...,...,...,...,...
915,the wonky donkey,the best child/grandmother book ever written,marilyn kreienkamp,5,this is exactly the kind of book children unde...,True,02-11-2023,"reviewed in the united states november 2, 2023",545261244,6
916,the wonky donkey,great book,amazon customer,5,we get this book for all our grandchildren the...,True,30-10-2023,"reviewed in the united states october 30, 2023",545261244,2
917,the wonky donkey,"fun book, makes you laugh",jennifer tinucci,5,i saw a grandma reading this book to her grand...,True,24-10-2023,"reviewed in the united states october 24, 2023",545261244,5
918,the wonky donkey,cutest beck ever!!,janice easter,5,i have ordered this book over and over to give...,True,19-10-2023,"reviewed in the united states october 19, 2023",545261244,3
919,the wonky donkey,awesome book,mc,5,this book was hysterical! my daughter loves it...,True,23-10-2023,"reviewed in the united states october 23, 2023",545261244,2

In [21]:
def return_lenuniq(data:pd.DataFrame,col:str):
    """
    data: required pandas DataFrame from data in prepared_data
    col: data type is str columns from data

    this function return length and unique values of col parameter

    example usage: return_lenuniq(top_books,"genre")
    """  
    arr = data[col].unique()
    
    return {
        "length of {} array:".format(col):len(arr),
        "unique array:":arr
    }

return_lenuniq(top_books,"genre")

{'length of genre array:': 78,
 'unique array:': array(['fantasy romance', 'memoir', 'autobiography', 'childrens, fiction',
        'fantasy', 'nonfiction, politics', 'humor, middle grade',
        'nonfiction, true crime', 'historical fiction',
        'adventure, war, science fiction, romance, action, thriller',
        'self-improvement, nonfiction', 'childrens, storytime,fiction',
        'nonfiction',
        'spiritual warfare, biblical studies - prophecy, christian theology - eschatology',
        'fiction, historical fiction', 'literary, thrillers - suspense',
        'picture books, biography',
        'picture books, christmas, holiday, humor, childrens, fiction, animals',
        'picture books, childrens, holiday, animals, humor, storytime, fiction',
        'nonfiction, psychology, self help, mental health, health, science',
        'fantasy, romance, young adult, fiction, new adult, fae',
        'fiction, contemporary, lgbt, literary fiction, queer, adult, mental health',
        'fantasy, dragons, young adult, fiction, high fantasy, magic, science fiction, fantasy',
        'childrens, activities, crafts, games',
        'picture book, cars and trucks', 'childrens',
        'picture book, colors, wild animals', 'childrens, literature',
        'picture book', 'spirituality, self-help, personal growth',
        'thriller, mystery, suspense', 'picture books, childrens, holiday',
        'finance, nonfiction, psychology, business, self help, money, economics',
        'health, nonfiction, science, self help',
        'history, nonfiction, politics, war', 'picture books, childrens',
        'self help, nonfiction, mental health, psychology, personal development, relationships',
        'fantasy, romance', 'picture books, childrens, fiction, poetry',
        'picture books, dinosaurs, childrens, fiction, storytime, fantasy, animals',
        'nonfiction, self help, psychology, business, leadership, personal development',
        'fiction, mystery, thriller, suspense, crime, legal thriller',
        'christmas, romance, holiday, contemporary romance, contemporary fiction, humor',
        'educational material, childrens',
        'picture books, animals, childrens, fiction, love, family, humor',
        'fiction, alphabet', 'cookbooks, cooking', 'self help, psychology',
        'picture books, holiday, childrens, fiction, storytime, humor',
        'biography, nonfiction, business, technology', 'cookbook',
        'picture books, childrens, holiday, animals, kids fiction',
        'literary, medical, family life - general, world literature - india - general',
        'fiction, mystery',
        'dark, thriller, fantasy, adult, contemporary, mystery, horror',
        'christmas, picture books, holiday, childrens, fantasy, humor, fiction',
        'educational material', 'childrens, picture books, animals',
        'thriller, romance, mystery, fiction',
        'fantasy, romance, young adult, new adult, fiction',
        'nonfiction, art, music, philosophy, self help, writing, design',
        'health, nonfiction, nutrition, fitness, self help, science',
        'fiction',
        'nonfiction, history, politics, israel, jewish, judaism, religion',
        'childrens, young adult, fantasy, science fiction &amp; horror',
        'picture books, childrens, fiction',
        'picture books, childrens, animals, fiction, family, storytime, poetry',
        'romance, contemporary, contemporary romance, fiction, adult, chick lit',
        'picture books, childrens, holiday, storytime, counting, animals, number',
        'childrens literature',
        'fiction, romance, contemporary, audiobook, adult, adult fiction',
        'self help', 'childrens literature, picture book',
        'thriller, mystery', 'personal finance',
        'fantasy, adventure, mythology',
        ' young adult novel, adventure novel, survival story',
        'childrens, picture books'], dtype=object)}

In [168]:
#sentiment analysis for desc and titles